* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.upper-case {
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

main {
  background-color: #1c1c1c;
}
main .jumbo {
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  height: 350px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-container .card {
  flex-basis: calc((100% / 12) * 2);
  max-width: calc((100% / 12) * 2);
  padding: 25px;
  color: white;
}
.card-container .card img {
  max-width: 150px;
  max-height: 150px;
}

.top-header {
  height: 20px;
  background-color: #0282f9;
  text-align: right;
}
.top-header span {
  color: white;
  padding-left: 50px;
  font-size: 12px;
}

.bottom-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-header .container .logo, .bottom-header .container .search-bar {
  width: 15%;
}
.bottom-header .container .nav-bar li {
  display: inline-block;
}
.bottom-header .container .nav-bar li a {
  text-decoration: none;
}